name: Website Down CRON

on: 
    schedule:
        - cron: '0 */6 * * *' 
    workflow_dispatch:

jobs:
    check_website:
        runs-on: ubuntu-latest
        steps:
            - name: Github Actions Checkout
              uses: actions/checkout@v5
            - uses: actions/setup-node@v4
              with:
                node-version: '20'

            - name: Install dependencies
              run: pip install requests smtplib ssl
                # npm install node-fetch nodemailer
            
            - name: Check Website Status
              run: python monitor/checkSite.py
                # npx ts-node monitor/checkSite.ts

